# Database PostgreSQL (Supabase / Neon / Local)
DATABASE_URL=postgresql://postgres.zgtmbihczykkortfqwbl:nstokpass@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres

# WAHA Engine Public Endpoint (Bisa diakses dari Vercel / Cloud)
WAHA_BASE_URL=https://waha.nstok.my.id
WAHA_API_KEY=Tnl7JqA9w9n/B0w8q9vK0fH7cM3vN0xJ5uQ9sD4fL7c=

# Public App URL
NEXT_PUBLIC_APP_URL=https://crm.sayoti.my.id
